<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.roll.mapper.DeliveryMapper">

    <resultMap id="BaseResultMap" type="com.system.roll.entity.pojo.Delivery">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="professorId" column="professor_id" jdbcType="VARCHAR"/>
        <result property="professorName" column="professor_name" jdbcType="VARCHAR"/>
        <result property="courseId" column="course_id" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>